.satu{
	height: 100px;
	background-color: blue;
    border-radius: 20px;
    text-align: center;
padding: 25px;
}
.dua{
	width: 100px;
	background-color: red;
	height: 300px;
	float: left;
    border-radius: 20px;
     text-align: center;
padding: 25px;
}
.tiga{
	width: 100px;
	background-color: orange;
	float: right;
	height: 300px;
    border-radius: 20px;
     text-align: center;
  padding: 25px;   
}
.empat{
	
	background-color: yellow;
	height: 300px;
    border-radius: 20px;
     text-align: center;
   padding: 25px;  
}

.lima{

	background-color: plum;
	height: 100px;
	border-radius: 20px;
	 text-align: center;
	padding: 25px; 
}